PORT=3333
NODE_ENV=development
DATABASE_URL="postgresql://postgres:password@localhost:5432/hiachet?schema=public"

REDIS_URL="redis://:yourpassword@localhost:6379"
JWT_SECRET="change-in-production"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="8h"

USE_REAL_OMISE=false
OMISE_PUBLIC_KEY=pkey_test_placeholder
OMISE_SECRET_KEY=skey_test_placeholder
OMISE_WEBHOOK_SECRET=whsec_placeholder
